<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBLZF7M3DcpL68o9byDrZ9ugUgYZoU0BE</string>
	<key>GCM_SENDER_ID</key>
	<string>978149242158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app7</string>
	<key>PROJECT_ID</key>
	<string>udemy-course-chat-app-33529</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-course-chat-app-33529.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978149242158:ios:0bc5f747487c9e368a36bf</string>
</dict>
</plist>